.wrapper_with_padding
  #doc.show
    %h1.title= @doc.title
    %p= simple_format(@doc.content)

    .buttons
      = link_to "Fix It", edit_doc_path(@doc), class: "button"
      = link_to "Trash This", doc_path(@doc), method: :delete, class: "button"

