#banner
  .banner_content
    %h1 STABLE GENIUS
    %p Your Genius Thoughts. Lock them up!
    %button= link_to "Enter", new_user_registration_path

#callouts
  .callout_inner
    .wrapper
      .callout
        %h2 Organize
        %p 
          %p I'm baby bespoke green juice tote bag letterpress gochujang. Actually blog semiotics jianbing lyft blue bottle readymade kale chips health goth artisan chillwave disrupt PBR&B subway tile meditation. Umami put a bird on it semiotics ugh street art keffiyeh. Taxidermy lumbersexual tacos gochujang deep v vape etsy godard organic tote bag 8-bit artisan normcore food truck seitan. Lo-fi pickled prism fashion axe forage authentic lumbersexual pinterest kale chips vice. Unicorn tbh keytar, next level salvia iceland mlkshk ugh photo booth coloring book schlitz plaid aesthetic adaptogen.

#bottom_cta
  .wrapper
    %h2 "Go Ahead!"
    %br
    %button= link_to "Join Now"
